In [1]:
import pandas as pd
import numpy as np

In [74]:
df1 = pd.read_csv(r"C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\weapons_US_cleaned.csv")
del df1['Unnamed: 0']
df1

    Calendar_Year     ATF_Form_2
0            2002  162321.000000
1            2003  156620.000000
2            2004   83483.000000
3            2005   65865.000000
4            2006  188134.000000
5            2007  296267.000000
6            2008  424743.000000
7            2009  371920.000000
8            2010  296375.000000
9            2011  530953.000000
10           2012  484928.000000
11           2013  477567.000000
12           2014  591388.000000
13           2015  620195.553508
14           2016  684613.670588
15           2017  751184.014552
16           2018  819906.585400

In [75]:
df1.rename(columns={'Calendar_Year':'Year'}, inplace=True)

In [76]:
df1

    Year     ATF_Form_2
0   2002  162321.000000
1   2003  156620.000000
2   2004   83483.000000
3   2005   65865.000000
4   2006  188134.000000
5   2007  296267.000000
6   2008  424743.000000
7   2009  371920.000000
8   2010  296375.000000
9   2011  530953.000000
10  2012  484928.000000
11  2013  477567.000000
12  2014  591388.000000
13  2015  620195.553508
14  2016  684613.670588
15  2017  751184.014552
16  2018  819906.585400

In [12]:
df1.rename(columns={'Calendar_Year':'Year'}, inplace=True)
df1.set_index('Year',inplace=True)

In [13]:
df1

             Total
Year
2002  3.398050e+05
2003  3.438360e+05
2004  1.932240e+05
2005  1.561370e+05
2006  4.052010e+05
2007  6.445580e+05
2008  9.173290e+05
2009  8.309810e+05
2010  7.192620e+05
2011  1.135867e+06
2012  1.085327e+06
2013  1.085749e+06
2014  1.370344e+06
2015  1.041292e+06
2016  1.084006e+06
2017  1.126721e+06
2018  1.169435e+06

In [15]:
df2 = pd.read_csv(r"C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\sc_cleaned.csv")
#del df2['Unnamed: 0']
df2.drop(df2[df2['Year']==2019].index,inplace=True)
df2

    Year  average_monthly_visits
0   2002                 3000000
1   2003                 4470000
2   2004                15525405
3   2005                55892892
4   2006               133727481
5   2007               323723343
6   2008               649259280
7   2009               939537344
8   2010              1459764216
9   2011              1975107328
10  2012              2730898466
11  2013              3940820465
12  2014              5104366619
13  2015              6327163506
14  2016              7730907680
15  2017              9043279773
16  2018              9071250000

In [17]:
df3 = pd.read_csv(r'C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\gun_violence_cleaned.csv')
del df3['Unnamed: 0'] 
df3

    Year  incident_id
0   2002      10234.0
1   2003      13632.0
2   2004      17030.0
3   2005      20428.0
4   2006      23827.0
5   2007      27225.0
6   2008      30623.0
7   2009      34021.0
8   2010      37419.0
9   2011      40818.0
10  2012      44216.0
11  2013      47614.0
12  2014      51554.0
13  2015      53268.0
14  2016      58468.0
15  2017      61148.0
16  2018      64605.0

In [22]:
# ask ksenia if taking composition Indicator or three seperat 

df41 = pd.read_csv(r"C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\mental_ill_vis_data.csv")
del df41['Unnamed: 0']
df41

    Year  Anxiety disorders (%)  Depression (%)  Eating disorders (%)
0   2002               6.971891        4.778244              0.522170
1   2003               6.970935        4.781680              0.526130
2   2004               6.968875        4.785232              0.529332
3   2005               6.965249        4.791258              0.531157
4   2006               6.937038        4.793213              0.532178
5   2007               6.875454        4.786623              0.533067
6   2008               6.801899        4.776402              0.533768
7   2009               6.737790        4.765950              0.534175
8   2010               6.704455        4.761551              0.534076
9   2011               6.693384        4.762322              0.533199
10  2012               6.682107        4.765481              0.531514
11  2013               6.671047        4.772422              0.528946
12  2014               6.660473        4.782222              0.525990
13  2015               6.650662        4.795954              0.522109
14  2016               6.642099        4.813114              0.517728
15  2017               6.635055        4.835610              0.512844

In [24]:

df42 = pd.read_csv(r"C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\mental_illness_cleaned_CI.csv")
del df42['Unnamed: 0']
df42

    Year  compositional_indicator
0   2002                12.272306
1   2003                12.278745
2   2004                12.283438
3   2005                12.287664
4   2006                12.262428
5   2007                12.195144
6   2008                12.112069
7   2009                12.037915
8   2010                12.000082
9   2011                11.988905
10  2012                11.979102
11  2013                11.972415
12  2014                11.968685
13  2015                11.968725
14  2016                11.972942
15  2017                11.983510
16  2018                12.000000

In [35]:
df5 = pd.read_csv(r"C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\licenses_cleaned.csv")
del df5['Unnamed: 0']
df5.rename(columns={'Fiscal_Year':'Year'},inplace=True)

In [82]:
df5

      Percent_Inspected
Year
2002           0.052000
2003           0.049000
2004           0.042000
2005           0.049000
2006           0.068000
2007           0.093000
2008           0.098000
2009           0.099000
2010           0.089000
2011           0.106000
2012           0.087000
2013           0.076000
2014           0.074000
2015           0.074759
2016           0.074791
2017           0.074822
2018           0.074853

In [77]:
for x in [df1,df2,df3,df4,df41,df42,df5]:
    if 'Year' in list(x.columns):
        x.set_index('Year',inplace=True)

In [78]:
for x in [df1,df2,df3,df41,df42,df5]:
    print(x)

         ATF_Form_2
Year
2002  162321.000000
2003  156620.000000
2004   83483.000000
2005   65865.000000
2006  188134.000000
2007  296267.000000
2008  424743.000000
2009  371920.000000
2010  296375.000000
2011  530953.000000
2012  484928.000000
2013  477567.000000
2014  591388.000000
2015  620195.553508
2016  684613.670588
2017  751184.014552
2018  819906.585400
      average_monthly_visits
Year
2002                 3000000
2003                 4470000
2004                15525405
2005                55892892
2006               133727481
2007               323723343
2008               649259280
2009               939537344
2010              1459764216
2011              1975107328
2012              2730898466
2013              3940820465
2014              5104366619
2015              6327163506
2016              7730907680
2017              9043279773
2018              9071250000
      incident_id
Year
2002      10234.0
2003      13632.0
2004      17030.0
2005      20428.0
2006      23827.0
2007      27225.0
2008      30623.0
2009      34021.0
2010      37419.0
2011      40818.0
2012      44216.0
2013      47614.0
2014      51554.0
2015      53268.0
2016      58468.0
2017      61148.0
2018      64605.0
      Anxiety disorders (%)  Depression (%)  Eating disorders (%)
Year
2002               6.971891        4.778244              0.522170
2003               6.970935        4.781680              0.526130
2004               6.968875        4.785232              0.529332
2005               6.965249        4.791258              0.531157
2006               6.937038        4.793213              0.532178
2007               6.875454        4.786623              0.533067
2008               6.801899        4.776402              0.533768
2009               6.737790        4.765950              0.534175
2010               6.704455        4.761551              0.534076
2011               6.693384        4.762322              0.533199
2012               6.682107        4.765481              0.531514
2013               6.671047        4.772422              0.528946
2014               6.660473        4.782222              0.525990
2015               6.650662        4.795954              0.522109
2016               6.642099        4.813114              0.517728
2017               6.635055        4.835610              0.512844
      compositional_indicator
Year
2002                12.272306
2003                12.278745
2004                12.283438
2005                12.287664
2006                12.262428
2007                12.195144
2008                12.112069
2009                12.037915
2010                12.000082
2011                11.988905
2012                11.979102
2013                11.972415
2014                11.968685
2015                11.968725
2016                11.972942
2017                11.983510
2018                12.000000
      Percent_Inspected
Year
2002           0.052000
2003           0.049000
2004           0.042000
2005           0.049000
2006           0.068000
2007           0.093000
2008           0.098000
2009           0.099000
2010           0.089000
2011           0.106000
2012           0.087000
2013           0.076000
2014           0.074000
2015           0.074759
2016           0.074791
2017           0.074822
2018           0.074853

In [ ]:
# have to decide how to arrage the mentl illness thing, for now lets concetenate with the 3 individual illnesses

In [39]:
concatdata = pd.concat([df1,df2,df3,df41,df5],axis=1)

In [41]:
concatdata

,Total,average_monthly_visits,incident_id,Anxiety disorders (%),Depression (%),Eating disorders (%),Percent_Inspected
Year,,,,,,,
2002,3.398050e+05,3000000,10234.0,6.971891,4.778244,0.522170,0.052000
2003,3.438360e+05,4470000,13632.0,6.970935,4.781680,0.526130,0.049000
2004,1.932240e+05,15525405,17030.0,6.968875,4.785232,0.529332,0.042000
2005,1.561370e+05,55892892,20428.0,6.965249,4.791258,0.531157,0.049000
2006,4.052010e+05,133727481,23827.0,6.937038,4.793213,0.532178,0.068000
2007,6.445580e+05,323723343,27225.0,6.875454,4.786623,0.533067,0.093000
2008,9.173290e+05,649259280,30623.0,6.801899,4.776402,0.533768,0.098000
2009,8.309810e+05,939537344,34021.0,6.737790,4.765950,0.534175,0.099000
2010,7.192620e+05,1459764216,37419.0,6.704455,4.761551,0.534076,0.089000
2011,1.135867e+06,1975107328,40818.0,6.693384,4.762322,0.533199,0.106000
2012,1.085327e+06,2730898466,44216.0,6.682107,4.765481,0.531514,0.087000
2013,1.085749e+06,3940820465,47614.0,6.671047,4.772422,0.528946,0.076000
2014,1.370344e+06,5104366619,51554.0,6.660473,4.782222,0.525990,0.074000
2015,1.041292e+06,6327163506,53268.0,6.650662,4.795954,0.522109,0.074759
2016,1.084006e+06,7730907680,58468.0,6.642099,4.813114,0.517728,0.074791
2017,1.126721e+06,9043279773,61148.0,6.635055,4.835610,0.512844,0.074822
2018,1.169435e+06,9071250000,64605.0,NaN,NaN,NaN,0.074853

In [43]:
concatdata.rename(columns={'Total':'Registered_owned_registered','average_monthly_visits':'social_media_users_by_month','incident_id':'number_of_gun_violence_incidents','Percent_Inspected':'percent_of_gun_licenses_inspected'}, inplace=True)

In [44]:
concatdata

,Registered_owned_registered,social_media_users_by_month,number_of_gun_violence_incidents,Anxiety disorders (%),Depression (%),Eating disorders (%),percent_of_gun_licenses_inspected
Year,,,,,,,
2002,3.398050e+05,3000000,10234.0,6.971891,4.778244,0.522170,0.052000
2003,3.438360e+05,4470000,13632.0,6.970935,4.781680,0.526130,0.049000
2004,1.932240e+05,15525405,17030.0,6.968875,4.785232,0.529332,0.042000
2005,1.561370e+05,55892892,20428.0,6.965249,4.791258,0.531157,0.049000
2006,4.052010e+05,133727481,23827.0,6.937038,4.793213,0.532178,0.068000
2007,6.445580e+05,323723343,27225.0,6.875454,4.786623,0.533067,0.093000
2008,9.173290e+05,649259280,30623.0,6.801899,4.776402,0.533768,0.098000
2009,8.309810e+05,939537344,34021.0,6.737790,4.765950,0.534175,0.099000
2010,7.192620e+05,1459764216,37419.0,6.704455,4.761551,0.534076,0.089000
2011,1.135867e+06,1975107328,40818.0,6.693384,4.762322,0.533199,0.106000
2012,1.085327e+06,2730898466,44216.0,6.682107,4.765481,0.531514,0.087000
2013,1.085749e+06,3940820465,47614.0,6.671047,4.772422,0.528946,0.076000
2014,1.370344e+06,5104366619,51554.0,6.660473,4.782222,0.525990,0.074000
2015,1.041292e+06,6327163506,53268.0,6.650662,4.795954,0.522109,0.074759
2016,1.084006e+06,7730907680,58468.0,6.642099,4.813114,0.517728,0.074791
2017,1.126721e+06,9043279773,61148.0,6.635055,4.835610,0.512844,0.074822
2018,1.169435e+06,9071250000,64605.0,NaN,NaN,NaN,0.074853

In [45]:
import statsmodels.api as sm
columns = list(concatdata.columns)
columns.remove('number_of_gun_violence_incidents')

X = sm.add_constant(concatdata[columns])
Y = concatdata['number_of_gun_violence_incidents']
model = sm.OLS(Y,X)
results = model.fit()
predictions = results.predict(X)

C:\Users\leube\anaconda4\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\leube\anaconda4\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\leube\anaconda4\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  x = pd.concat(x[::order], 1)

MissingDataError: exog contains inf or nans

In [ ]:
# make predictions for the 3 different disorders or try to find a sufficient way of combining the 3 different results

# then run given model and see model summary, which feature effects the result most

In [ ]:
# update the 3 other dataframes taking data starting from 2002, then import them here, concat to one big dataframe
# set year to index
# run regression model
# check significance of each fature

# Wednesday

In [ ]:
# made new CI to better equalize the effect of each illness on general mental health development, made forecast and will now
# reconcatenate

In [48]:
df4 = pd.read_csv(r"C:\Users\leube\Ironhack\Ironprojects\Module_3\final_project\the-dark-side-of-social-media-\clean_data\mental_illness_cleaned_CI.csv")
del df4['Unnamed: 0']
df4

    Year  multiplacitive_CI
0   2002          17.395271
1   2003          17.537373
2   2004          17.651980
3   2005          17.725943
4   2006          17.695274
5   2007          17.543353
6   2008          17.341367
7   2009          17.153425
8   2010          17.049641
9   2011          16.996268
10  2012          16.925237
11  2013          16.840073
12  2014          16.753770
13  2015          16.653327
14  2016          16.551350
15  2017          16.454375
16  2018          17.000000

In [50]:
# ran index code above
df4

      multiplacitive_CI
Year
2002          17.395271
2003          17.537373
2004          17.651980
2005          17.725943
2006          17.695274
2007          17.543353
2008          17.341367
2009          17.153425
2010          17.049641
2011          16.996268
2012          16.925237
2013          16.840073
2014          16.753770
2015          16.653327
2016          16.551350
2017          16.454375
2018          17.000000

In [79]:
concatdata2 = pd.concat([df1,df2,df3,df4,df5],axis=1)
concatdata2.rename(columns={'ATF_Form_2':'Registered_owned_guns','average_monthly_visits':'social_media_users_by_month','incident_id':'number_of_gun_violence_incidents','Percent_Inspected':'percent_of_gun_licenses_inspected'}, inplace=True)
concatdata2

,Registered_owned_guns,social_media_users_by_month,number_of_gun_violence_incidents,multiplacitive_CI,percent_of_gun_licenses_inspected
Year,,,,,
2002,162321.000000,3000000,10234.0,17.395271,0.052000
2003,156620.000000,4470000,13632.0,17.537373,0.049000
2004,83483.000000,15525405,17030.0,17.651980,0.042000
2005,65865.000000,55892892,20428.0,17.725943,0.049000
2006,188134.000000,133727481,23827.0,17.695274,0.068000
2007,296267.000000,323723343,27225.0,17.543353,0.093000
2008,424743.000000,649259280,30623.0,17.341367,0.098000
2009,371920.000000,939537344,34021.0,17.153425,0.099000
2010,296375.000000,1459764216,37419.0,17.049641,0.089000
2011,530953.000000,1975107328,40818.0,16.996268,0.106000
2012,484928.000000,2730898466,44216.0,16.925237,0.087000
2013,477567.000000,3940820465,47614.0,16.840073,0.076000
2014,591388.000000,5104366619,51554.0,16.753770,0.074000
2015,620195.553508,6327163506,53268.0,16.653327,0.074759
2016,684613.670588,7730907680,58468.0,16.551350,0.074791
2017,751184.014552,9043279773,61148.0,16.454375,0.074822
2018,819906.585400,9071250000,64605.0,17.000000,0.074853

In [80]:
# now lets run the regression model

columns = list(concatdata2.columns)
columns.remove('number_of_gun_violence_incidents')

# define X variables and Y
X = sm.add_constant(concatdata2[columns])
Y = concatdata2['number_of_gun_violence_incidents']
model = sm.OLS(Y,X)
results = model.fit()
predictions = results.predict(X)

# model summary 
print_model = results.summary()
print(print_model)

C:\Users\leube\anaconda4\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  x = pd.concat(x[::order], 1)

In [81]:
print_model = results.summary()
print(print_model)

                                   OLS Regression Results
============================================================================================
Dep. Variable:     number_of_gun_violence_incidents   R-squared:                       0.961
Model:                                          OLS   Adj. R-squared:                  0.948
Method:                               Least Squares   F-statistic:                     73.47
Date:                              Wed, 06 Jul 2022   Prob (F-statistic):           2.47e-08
Time:                                      14:27:10   Log-Likelihood:                -161.84
No. Observations:                                17   AIC:                             333.7
Df Residuals:                                    12   BIC:                             337.8
Df Model:                                         4
Covariance Type:                          nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                              5.998e+04   9.31e+04      0.644      0.532   -1.43e+05    2.63e+05
Registered_owned_guns                -0.0148      0.024     -0.605      0.556      -0.068       0.038
social_media_users_by_month        5.193e-06   1.61e-06      3.227      0.007    1.69e-06     8.7e-06
multiplacitive_CI                 -3273.2182   5207.845     -0.629      0.541   -1.46e+04    8073.701
percent_of_gun_licenses_inspected   3.25e+05   1.24e+05      2.629      0.022    5.57e+04    5.94e+05
==============================================================================
Omnibus:                        0.707   Durbin-Watson:                   0.963
Prob(Omnibus):                  0.702   Jarque-Bera (JB):                0.600
Skew:                          -0.401   Prob(JB):                        0.741
Kurtosis:                       2.548   Cond. No.                     5.84e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.84e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

C:\Users\leube\anaconda4\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

## lets put summary into words ##

high r squarred value --> good fit of the model describing almost all of the variance of the original data

model is statistically significant, high f or also called ANOVA statistic

different features have different significances on outcome of y variable

the lower the P|t| here the better because this  is the result of hypothesis test, checking the variables significance, H0 in this case here is that the variable is unsignificant, the lower the value the better because with a significance of 5 maybe 10 percent, you will reject H0 for values below that level and accept H1 being that the tested varibale is significant for the outcome of the y variable

## results regarding business case


due to the statistical significance of social media users varibale for the gun violence development, we can assume that there might indeed be a correlation between the similar development of these to over the last couple of years

of course that is not the only feature having an impact on such a complex matter, there is a huge range of reasons for this develoment, but nonetheless it is a very interesting relationship that would be worth going into further detailed analysis

other variables having a significant impact:

inspected gun licenses:

research: gun laws have become a little stricter in the US over the last couple of years, also due to increasing gun violence concerns , therefor the statistical signifance can be explained because the trned is the same as the one of gun violence, both increasing over time, looking at the coefficient I would have expected a different outcome: a negative coefficient, you would expect that increased gun license checks and other gun laws enforcement being enforced simoutaniesly would reduce the gun violence, apparently this is not the case

a result that surprised me: mental health feature, no significance for the model, makes sense after previously analyzing the mental illness rate devlopment, 8n recent years only have mental illnesses have been recognized as such, further more mental illnesses did increase at a big rate afer the introduction of social media, but because such illnesses are being taken care of more serously and there are efforts made detecting these earlier, there has been a slow increase in mentall illness rate

also gun ownership unsignificant